@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
	min-height: 100vh;
	margin: 0;
	font-family: 'Montserrat', system-ui, -apple-system, sans-serif;
}