@import "tailwindcss";

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";
@import "@skeletonlabs/skeleton/themes/cerberus";

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

body {
	min-height: 100vh;
	margin: 0;
	font-family: 'Montserrat', system-ui, -apple-system, sans-serif;
}
